* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

.body {
  min-height: 100vh;
  color: black;
  display: flex;
  align-items: center;
}

.todo-app {
  margin: 0 auto;
  z-index: 1;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  margin-bottom: 50px;
  color:blueviolet;
}

.input {
  display: flex;
  margin-bottom: 20px;
}

.todo-input {
  cursor: pointer;
  height: 50px;
  width: 100%;
  padding:  0 15px;
  border: solid rgba(128, 128, 128, 0.36) 1px;
}

 .todo-input:focus {
  border: solid blueviolet;
  outline: none;
}

.todo-button {
  width: 50px;
  background-color: blueviolet;
  border-width: 0;
  color: white;
  transition: 0.3s ease;
}

.todo-button:hover {
  background-color: blueviolet;
}

.color {
  accent-color: blueviolet;
}

.todo-item {
  height: 50px;
  list-style: none;
  border-bottom: solid rgba(128, 128, 128, 0.36) 1px;
  background-color: #fff;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15px;
}

.button {
  background-color: white;
  border: blueviolet;
  width:45px;
  font-size: 20px;
  color: blueviolet;
  height: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  background-color: blueviolet;
  color: white;
}

.toggle {
  display: block;
  width: 25px;
  height: 25px;
}

.completed {
  text-decoration: line-through;
}

/* ------------ footer ----------- */

.footer {
  display:  flex;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  padding: 0 15px;
}

.todo-count,.clear-complet  {
  border: solid rgba(128, 128, 128, 0.36) 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 128, 128);
}

.clear-complet {
  padding-bottom: 3px;
}

.clear-complet:hover {
  text-decoration: underline;
}

.filter {
  display: flex;
}

.filter-item {
  text-decoration: none;
  color: rgb(128, 128, 128);
  font-size: 12px;
  border: solid transparent 1px;
  padding: 3px 5px;
}

.selected {
  border: solid blueviolet 1px;
  border-radius: 5px;
}

@media (max-width:500px){
  .footer{
     flex-direction: column;
     padding-top: 10px;
     padding-bottom: 10px;
   }

   .clear-complet{
    margin-top: 10px;
    width: 100%;
    padding: 15px 0 15px;
  }

   .todo-app{
    width: 90%;
    background-color: #fff;
   }

   .todo-count{
    width: 100%;
   }
}
